<?xml version="1.0" encoding="UTF-8"?>
<extension>
    <information>
        <name>Rust Hello</name>
        <version>0.1.0</version>
        <author>local</author>
        <id>hello-kual</id>
    </information>
    <menus>
        <menu type="json" dynamic="true">menu.json</menu>
    </menus>
</extension>
